.ListItem {
    color:#009db7;
    list-style-type: none;
}

.button {
    position:relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: #efa361;
    color: #0b71a7;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
}
.button::before, 
.button::after{
    position:absolute;
    content: "";
    z-index: -1;
}
.button:hover {
    box-shadow: inset -2.5em 0 0 0 #202d3f, inset 2.5em 0 0 0  #202d3f;
    color: white;
}

input:focus {
    outline-color: #0b71a7;
}
