
#light {
    background-color: #fbfcff;
    background-image: linear-gradient(to bottom right, #fbfcff, #abdbe3);
}
#dark {
    background-color: #23272f;
    background-image: linear-gradient(to bottom right, #192c43, #23272f);
}
.App {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Salsa', cursive;
    font-size: 1.5rem;
}


.header {
    display: flex;
}
/* "Todo list" */
h4 { 
    color: #fffeff;
    margin: 0;
    font-family: 'Princess Sofia', cursive;
}


/* "loading*/
#light p {
    color:#213633;
}
#dark p{
    color: white;
}

.switch {
    display:flex;
    margin: 1.5rem;
    padding: 0;
    }





