h4 { 
    text-align: left;
    color: #fed090;
    margin: 0;
}

.paper {
    background-color: #fbe4cc;
    padding: 0.5rem;
    border-radius: 12px;
    margin: 0;
    }

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height:100%;
    width: 75%;
    padding: 1rem;
    margin: 0;
    border-radius:12px;
    position:center;
    background: #213633;
}

p {
    color:#213633;
}
