@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');



html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}


