@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&family=Salsa&display=swap');


html {
    scroll-behavior: smooth;
    height: 100%;
   
}

body {
    background-color: #afb292;
    background-image: linear-gradient(to bottom right, #afb292, #b7dcad);
    font-family: 'Salsa', cursive;
    font-size: 1.5rem;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-family: 'Princess Sofia', cursive;
}



